* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*>>>> COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
}
.a-blue {
    background-color: #0061ff;
    color: white;
    padding: 10px 15px;
}
a {
    text-decoration: none;
}
li {
    display: flex;
    padding: 10px 0;
    align-items: baseline;
}

li i {
    padding-right: 5px;
}

/*>>>> COMMON */

/*>>>> HEADER */
header {
    height: 80px;
    display: flex;
    align-items:center;
}
.nav-l, .nav-r {
    display: flex;
    width: 50%;
}
.nav-r {
    justify-content: flex-end;
}
header li {
    padding: 0px 20px;
}
header li a { 
    color: black;
}
/*>>>> HEADER */

/*>>>>>> MAIN */
/* Top Container */
.top-container {
    background-color: #b4d0e7;
    
}
.big-section {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.big-section > h1 {
    font-size: 77px;
    font-weight: bolder;
}
.big-section-bottom {
    display: flex;
    margin-top: 55px;
}
.big-section-column1 {
    width: 380px;
}
.big-section-column2 {
    width: calc(100% - 380px);
}
.big-section-column2 > img {
    width: 100%;

}
.big-section-column1 p {
    margin-bottom: 35px;
}
.big-section-column1 div {
    margin: 35px 0;
}
.big-section-column1 i {
    margin-top: 40px;
    font-size: 45px;
}
/* Top Container */

/* Pacchetti */
.center-container {
    width: 1000px;
    margin: 150px auto 0;
}
.radio {
    margin: 50px 0;
}
#radio {
    margin-right:50px;
}
.plans {
    display: flex;
    gap: 50px;
}
.plan {
    width: 300px;
    border: solid #d0d0d3 1px;
}
.type-plan {
    border-bottom: solid #d0d0d3 1px;
    text-align: center;
    padding: 10px 0;
}
.main-plan {
    margin: 40px 25px;
}
.main-plan section div {
    padding: 25px 0 10px 0;
    font-weight: bold;
}
.main-plan span {
    color: gray;
}
.icon-list {
    margin: 50px 0;
}

.main-plan .a-blue {
    display: block;
    text-align: center;
}

.main-plan > div > div {
    display: inline-block;
    border-bottom: solid gray 1px;
    padding: 40px 0;
}
.main-plan > div > a {
    text-decoration:underline;
    color: #0061ff;
    padding: 40px 0;
}
.blue-list {
    margin: 55px 0;
}
.blue-list > h4 {
    margin-bottom: 35px;
}
.blue-list > ul > li > i {
    color: #0061ff;
}
/* Pacchetti */
/* Enterprise */

.enterprise {
    width: 100%;
    border: solid #d0d0d3 1px;
    margin-top: 50px;
}
.enterprise section {
    width: 700px;
    display: inline-block;
}
.enterprise .a-blue {
    display: inline-block;
    vertical-align: top;
    padding: 10px 40px;
    font-size: 14px;
}
.enterprise  section div {
    margin-bottom: 50px;
}
/* Enterprise */
/* Partner */
.partner-container {
    width: 100%;
    margin: 150px 0;
    display: flex;
}
.photo {
    width: 60%;   
}
.photo-partner {
    width: 100%;
    display: block;
}
.div-partner {
    margin:40px 0 0 50px;
    width: 30%; 
}
.div-partner section div {
    margin: 20px 0 40px 0;
}
.div-partner section a {
    background-color: white;
    border: solid 1px;
    color: black;
}
/* Partner */
/* Funtion container */
.function-container {
    width: 1000px;
    margin: 160px auto 80px;
}
.function-container h1 {
    margin-bottom: 70px;
}
.function-container > div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.function-box {
    width: 305px;
    margin-bottom: 65px;   
}
.function-box div {
    display: block;
}
.function-box img {
    width: 100%;
}
.function-box h2 {
    margin-bottom: 35px;
}
/* Funtion container */

/*>>>>>> MAIN */

/*>>>> FOOTER */
/*>>>> FOOTER */

