* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*>>>> COMMON */
body {
    font-family: 'Inter', sans-serif;
}
/*>>>> COMMON */

/*>>>> HEADER */
/*>>>> HEADER */

/*>>>>>> MAIN */
/*>>>>>> MAIN */

/*>>>> FOOTER */
/*>>>> FOOTER */

